@import "@/styles/base/_mixins";
@import "@/styles/base/_breakpoints";

///////////////
// Default caption styles. Default scenario is assumed to be as part of thumbnail in main content.
/////////////

.c-caption {
  position: absolute;
  z-index: 1;
  width: calc(100% - 2.5rem);
  top: 1.875rem;
  right: 1.25rem;
  -webkit-tap-highlight-color: transparent;

  &.is-active {
    z-index: 2;

    .photo-caption {
      display: block;
    }

    .photo-caption-btn .caption-arrow svg {
      transform: rotate(180deg);
    }
  }

  .photo-caption-btn {
    position: absolute;
    width: 69px;
    height: 26px;
    border-radius: 5px;
    background: #fff;
    top: -0.875rem;
    right: -0.5rem;
    z-index: 1;
    cursor: pointer;
    transition: transform 0.5s;
    box-shadow: 0 2px 4px 0 rgba(149, 149, 149, 0.5);
    box-sizing: border-box;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items: center;

    @include text-styles(11px, 1, "Gordita-Medium");

    @include breakpoint(desktop-sm) {
      width: 69px;
      height: 26px;
    }

    .amp-arrow {
      transition: 0.5s;
    }

    .caption-arrow svg {
      width: 9px;
      height: 11px;
      margin-right: 2px;
      transition: transform 0.5s;
      margin-top: 2px;
    }

    .fill-line {
      width: 10px;
      height: 1px;
      margin-bottom: 3px;
      background: #fff;

      @include breakpoint(desktop-sm) {
        width: 15.9px;
        margin-bottom: 4px;
        height: 2px;
      }

      &.fill-line-long {
        width: 16.4px;

        @include breakpoint(desktop-sm) {
          width: 24.8px;
          height: 2px;
        }
      }
    }
  }

  .photo-caption {
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 2px 26px 4px rgba(0, 0, 0, 0.1);
    transition: opacity 0.75s;
    padding: 20px;
    display: none;
    text-align: left;

    @include breakpoint(tablet) {
      padding: 30px;
    }

    .photo-caption-text {
      color: #fff;
      letter-spacing: normal;
      line-height: 1.5;

      @include text-styles(0.75rem, 1.58, "Gordita");

      @include breakpoint(tablet) {
        @include text-styles(0.875rem, 1.58, "Gordita");
      }
    }

    .photo-credit-text {
      display: none;
    }
  }

  .rotate-right {
    transform: rotate(
      180deg
    ); /* stylelint-disable-line declaration-no-important */
  }
}

///////////////
//styles for when images are on other areas besides main content. For example, the headline.
///////////////

.article-headline-component {
  &.with-image {
    .c-image-component .image-component-image .photo-credit-text {
      display: none;
    }
  }

  .photo-caption {
    .photo-caption-text {
      @include text-styles(0.875rem, 1.58, "Gordita");

      @include breakpoint(tablet) {
        @include text-styles(1rem, 1.5, "Gordita");
      }
    }

    .photo-credit-text {
      position: static;
      text-align: right;
      color: #fff;
      margin: 0;
      display: block;

      @include text-styles(0.75rem, 1, "Gordita");

      @include breakpoint(desktop-sm) {
        display: none;
      }
    }
  }

  .c-caption {
    @include between-breakpoints(mobile, tablet) {
      width: calc(100vw - 5rem);
      right: 1.25rem;

      .photo-caption-btn {
        right: -0.6rem;
      }
    }
  }
}
