/* stylelint-disable value-no-vendor-prefix, property-no-vendor-prefix */
@import "@/styles/base/_mixins";
@import "@/styles/base/_breakpoints";

.c-caption-new {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin: 10px auto;

  &.text-preview {
    .photo-caption-text {
      -webkit-line-clamp: 6;

      @include breakpoint(desktop-sm) {
        -webkit-line-clamp: 3;
      }
    }

    .btn-expand svg {
      transform: scale(0.7) rotate(270deg) translateX(-8px);
      transform-origin: center;
    }
  }

  &.text-all {
    .photo-caption-text {
      -webkit-line-clamp: 100;
      max-height: 1000px;
    }

    .btn-expand svg {
      transform: scale(0.7) rotate(90deg) translateX(8px);
    }
  }

  .photo-caption-text {
    transition: max-height 0.3s ease-in-out;
    height: fit-content;
    color: #9b9b9b;
    letter-spacing: normal;
    line-height: 1.5;
    text-align: left;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 140px;

    @include breakpoint(desktop-sm) {
      max-height: 70px;
    }

    @include text-styles(0.75rem, 1.58, "Gordita");

    @include breakpoint(tablet) {
      @include text-styles(0.875rem, 1.58, "Gordita");
    }
  }

  .btn-expand {
    border: none;
    cursor: pointer;

    svg {
      transition: transform 0.2s ease-in-out;
    }
  }
}

.overlay-active .c-caption-new {
  .photo-caption-text {
    color: #fff;
    -webkit-line-clamp: 100;
    max-height: 500px;

    @include text-styles(1rem, 1.88, "Gordita");
  }

  .btn-expand {
    display: none;
  }
}

.c-aligned-elements-row .c-image-component:not(.overlay-active),
.c-aligned-elements-row .c-video-component {
  .c-caption-new.text-preview .photo-caption-text {
    -webkit-line-clamp: 6;
    max-height: 140px;
  }
}

.article-headline-component {
  .c-image-component .c-caption-new {
    width: 90%;

    @include breakpoint(tablet) {
      width: 100%;
    }
  }
}

.c-c-content-VideoProxy .c-caption-new.text-preview .photo-caption-text {
  -webkit-line-clamp: 100;
}
