@import './c-section';

.c-sponsor,
.section-label.sponsored-story {
  font-weight: 500;
  color: var(--primary-black);
  text-align: left;
  width: fit-content;
  display: inline-block;
  text-transform: uppercase;

  @include text-styles(0.75rem, 1, 'Gordita-Medium');
}

.c-sponsorOverlay,
.image-component-image .sponsored-story {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #000;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  text-align: center;
  padding: 7.5px;

  @include text-styles(0.625rem, 1.25, 'Gordita-Medium');
}

.c-homepageContent {
  max-width: 1540px;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
}
