@import "@/styles/base/_breakpoints";
@import "@/styles/base/_mixins";

.c-contributorBadge {
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  max-width: 100%;

  &.staff-bio {
    height: 54px;

    @include breakpoint(desktop-sm) {
      height: 57px;
    }
  }

  img {
    width: auto;
    height: 100%;
    max-width: 100%;
  }
}

.left-photo-display-class,
.no-photo-display-class,
.redesigned-no-photo-display-class,
.c-mosaic {
  .c-homeList .c-contributorBadge {
    justify-content: left;
  }
}

.c-homepageContent,
.c-homeList {
  .c-contributorBadge {
    height: 25px;
    margin: 0;

    img {
      border-radius: 0;
    }
  }
}
