/* stylelint-disable */
// Declare your font faces in this file.
// Make sure to put your font files within the ./../../../resources/fonts folder!

// Example font face:
// @font-face {
//   font-family: 'Montserrat';
//   font-weight: 400;
//   src:  url('./../../../resources/fonts/montserrat/Montserrat-Regular.woff') format('woff');
// }

/* stylelint-enable */

@font-face {
  font-family: 'EBGaramond';
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/ebgaramond/ebgaramond.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Work-Sans';
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/worksans/worksans.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Work-Sans-Italic';
  font-stretch: normal;
  font-style: italic;
  font-display: swap;
  src: url('./../../../resources/fonts/worksans/worksans-italic.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/inter/Inter.ttf') format('truetype');
}

@font-face {
  font-family: 'Gordita';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/gordita/gorditaregular-webfont.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Gordita-Medium';
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/gordita/gorditamedium-webfont.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Gordita-Regular';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/gordita/gorditaregular-webfont.woff2')
    format('woff2');
}

@font-face {
  font-family: 'Gordita-Bold';
  font-weight: 700;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/gordita/gorditabold-webfont.woff2')
    format('woff2');
}

@font-face {
  font-family: 'icon-fonts';
  font-weight: 400;
  font-stretch: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/icon-fonts/onesite.woff') format('woff');
}

@font-face {
  font-family: 'Average';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/average/Average-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'weather-icons';
  src: url('./../../../resources/fonts/weather/weather.eot');
  src:
    url('./../../../resources/fonts/weather/weather.eot?#iefix')
      format('embedded-opentype'),
    url('./../../../resources/fonts/weather/weather.ttf') format('truetype'),
    url('./../../../resources/fonts/weather/weather.woff') format('woff'),
    url('./../../../resources/fonts/weather/weather.svg#weather') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lora';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src:
    url('./../../../resources/fonts/lora/Lora-Regular.ttf') format('truetype'),
    url('./../../../resources/fonts/lora/Lora-Regular.woff') format('woff'),
    url('./../../../resources/fonts/lora/Lora-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Lora-Medium';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src:
    url('./../../../resources/fonts/lora/Lora-Medium.ttf') format('truetype'),
    url('./../../../resources/fonts/lora/Lora-Medium.woff') format('woff'),
    url('./../../../resources/fonts/lora/Lora-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'Lora-Bold';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src:
    url('./../../../resources/fonts/lora/Lora-Bold.ttf') format('truetype'),
    url('./../../../resources/fonts/lora/Lora-Bold.woff') format('woff'),
    url('./../../../resources/fonts/lora/Lora-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Graduate';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/graduate/Graduate-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Lato';
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  font-display: swap;
  src: url('./../../../resources/fonts/lato/Lato-Regular.ttf')
    format('truetype');
}
